@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    html {
        scroll-behavior: smooth;
        @apply transition-colors duration-500;
    }

    body {
        @apply bg-background;
    }
}

@theme {
    --color-background: var(--background);
    --color-border: var(--border);
    --color-layer: var(--layer);
    --color-surface: var(--surface);
    --color-primary: var(--text-primary);
    --color-secondary: var(--text-secondary);
}

:root {
    --background: #fbfcd9;
    --border: #565838;
    --layer: #f7f8cb;
    --surface: #74774b;
    --text-primary: #1E201E;
    --text-secondary: #3E3F29;
}

.dark {
    --background: #1E201E;
    --border: #3C3D37;
    --layer: #282b28;
    --surface: #65675c;
    --text-primary: #fbfcd9;
    --text-secondary: #9aab94;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--bg-secondary);
}

::-webkit-scrollbar-thumb {
    background: var(--border-color);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--text-secondary);
}